numpy
torch
torchvision
opencv-python-headless
scipy
pillow
matplotlib

ffmpeg
gdown
fvcore
tabulate
tqdm
pyyaml
scikit-image
imageio
imageio-ffmpeg
#joblib
cython
#munkres
#plotly
#pandas
scikit-learn
setuptools
wheel
pyqt5
trimesh
PyOpenGL
PyOpenGL_accelerate
PyGLM
av
dominate
#detectron2@git+https://github.com/facebookresearch/detectron2.git